#!/bin/bash
set -e
export LANG="en_US.UTF-8"
export ROLLBAR_TOKEN=ab7eb8f58e6e49eb97df24b045b39396
export REDIS_HOST="{{ redis_host }}"
LOGFILE=/home/btl/logs/ballot.log
LOGDIR=$(dirname $LOGFILE)
NUM_WORKERS=2
BIND=unix:/home/btl/run/ballot.sock
#BIND=0.0.0.0:8000
# user/group to run as
USER=btl
GROUP=btl
cd /home/btl/site/api
test -d $LOGDIR || mkdir -p $LOGDIR
#sorry about the long line, it just adds all the above params
exec /home/btl/.rbenv/shims/unicorn -c /home/btl/ballot.rb -E development 2>> $LOGFILE
