#ballotPicker(ng-app="belowtheline" ng-controller="BallotPickerCtrl")
  .row
    .col-lg-12
      .page-header
        %h1 Ballot Editor for {{divisionName}}

      .pull-right
        %button.btn.btn-primary(ng-click="downloadPDF()" ng-disabled="!orders.state || !orders.division") Download PDF
      %p.lead Click and drag items in the list to re-order them.

  .row
    .col-lg-6
      %h3
        House of Representatives
        %small
          %a.pull-right(ng-show="dirty('division')" ng-click="reset('division')") Reset to Ballot Order

      %table.table.table-condensed
        %tbody(ui-sortable ng-model="orders.division")
          %tr(ng-repeat="c in orders.division")
            %td {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}")
                %a(href="{{parties[c.party].website}}" target="_blank")
                  {{ parties[c.party].name }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                Independent

    .col-lg-6
      %h3
        Senate
        .btn-group
          %button.btn.btn-primary.btn-small(ng-class="orderByGroup && 'active'" ng-click="showOrderByGroup()") By Group
          %button.btn.btn-primary.btn-small(ng-class="orderByGroup || 'active'" ng-click="showOrderByCandidate()") By Candidate
        %small
          %a.pull-right(ng-show="!orderByGroup && dirty('state')" ng-click="reset('state')") Reset to Ballot Order
          %a.pull-right(ng-show="orderByGroup && dirty('group')" ng-click="reset('group')") Reset to Ballot Order

      %table.table.table-condensed(ng-show="orderByGroup")
        %tbody(ui-sortable ng-model="orders.group")
          %tr(ng-repeat="c in orders.group")
            %td {{c.name }}
            %td
              %span(ng-repeat="p in c.parties" class="partycode party party-{{p}}")
                %a(href="{{parties[p].website}}" target="_blank")
                  {{ parties[p].code }}

      %table.table.table-condensed(ng-hide="orderByGroup")
        %tbody(ui-sortable ng-model="orders.state")
          %tr(ng-repeat="c in orders.state")
            %td {{c.group}}
            %td {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}" title="{{parties[c.party].name}}")
                %a(href="{{parties[c.party].website}}" target="_blank")
                  {{ parties[c.party].name }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                Independent
