#ballotPicker(ng-app="belowtheline" ng-controller="BallotPickerCtrl")
  .row
    .col-lg-12
      .page-header
        %h1 Ballot Editor for {{division.division.name}}

      %p.lead Click and drag items in the list to re-order them.

  .row
    .col-lg-6
      %h3
        House of Representatives
        %small
          %a.pull-right(ng-show="divisionDirty()" ng-click="resetDivision()") Reset to Ballot Order

      %table.table.table-condensed
        %tbody(ui-sortable ng-model="divisionCandidates")
          %tr(ng-repeat="c in divisionCandidates")
            %td {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}")
                {{ parties[c.party].code }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                IND

    .col-lg-6
      %h3
        Senate
        .btn-group
          %button.btn.btn-primary.btn-small(ng-class="orderByGroup && 'active'" ng-click="showOrderByGroup()") By Group
          %button.btn.btn-primary.btn-small(ng-class="orderByGroup || 'active'" ng-click="showOrderByCandidate()") By Candidate
        %small
          %a.pull-right(ng-show="!orderByGroup && stateDirty()" ng-click="resetState()") Reset to Ballot Order
          %a.pull-right(ng-show="orderByGroup && groupsDirty()" ng-click="resetGroups()") Reset to Ballot Order

      %table.table.table-condensed(ng-show="orderByGroup")
        %tbody(ui-sortable ng-model="groups")
          %tr(ng-repeat="c in groups")
            %td {{c}}

      %table.table.table-condensed(ng-hide="orderByGroup")
        %tbody(ui-sortable ng-model="stateCandidates")
          %tr(ng-repeat="c in stateCandidates")
            %td {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}" title="{{parties[c.party].name}}")
                {{ parties[c.party].code }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                IND
            %td {{c.group}}
