.row(ng-app="belowtheline" ng-controller="BallotPickerCtrl")
  .col.lg-12
    .page-header
      %h1 Ballot Editor for {{division.division.name}}

  .col-lg-6
    %h2
      Senate

    %table.table.table-condensed
      %tbody(ui-sortable ng-model="stateCandidates")
        %tr(ng-repeat="c in stateCandidates")
          %td {{c.first_name}} {{c.last_name}}
          %td
            %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}" title="{{parties[c.party].name}}")
              {{ parties[c.party].code }}
            %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
              IND
  .col-lg-6
    %h2
      House of Representatives

    %table.table.table-condensed
      %tbody(ui-sortable ng-model="divisionCandidates")
        %tr(ng-repeat="c in divisionCandidates")
          %td {{c.first_name}} {{c.last_name}}
          %td
            %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}")
              {{ parties[c.party].code }}
            %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
              IND
