#ballotPicker(ng-app="belowtheline" ng-controller="BallotPickerCtrl" )
  .row
    .col-md-12
      .page-header
        .pull-right
          %button.btn.btn-primary(ng-click="saveBallot()" ng-disabled="!orders.state || !orders.division" data-toggle="modal" href="#saveModal") Save
          %button.btn.btn-primary(ng-click="downloadPDF()" ng-disabled="!orders.state || !orders.division" data-toggle="modal" href="#downloadModal") Download PDF
        %h1 Ballot Editor for {{divisionName}}
        %p.lead Click and drag items in the list to re-order them.
        %p
          More information on the parties can be found by clicking the party name to the right of each candidate or the party abbreviation to the right of each group name.
          This will open the party's website in a new window or tab. Candidates
          may also have either or both of Wikipedia or link icons next to their
          names. These will open the candidate's Wikipedia entry or personal
          website in a new window or tab.
        %p
          If you know of a Wikipedia entry or website for a candidate who doesn't
          have one or the other, please let us know.

  .row
    .col-md-6
      %h3
        House of Representatives
        %small
          %a.pull-right(ng-show="dirty('division')" ng-click="reset('division')") Reset to Ballot Order

      %table.table.table-condensed
        %tbody(ui-sortable ng-model="orders.division")
          %tr(ng-repeat="c in orders.division")
            %td
              .pull-right
                %a.candidate-link(ng-show="c.website" href="{{c.website}}" target="_blank")
                  %span.glyphicon.glyphicon-link
                %a.candidate-link(ng-show="c.wikipedia" href="{{c.wikipedia}}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
              {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}")
                %a(href="{{parties[c.party].website}}" target="_blank")
                  {{ parties[c.party].name }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                Independent

    .col-md-6
      %h3
        Senate
        .btn-group
          %button.btn.btn-primary.btn-sm(ng-class="orderByGroup && 'active'" ng-click="showOrderByGroup()") By Group
          %button.btn.btn-primary.btn-sm(ng-class="orderByGroup || 'active'" ng-click="showOrderByCandidate()") By Candidate
        %small
          %a.pull-right(ng-show="!orderByGroup && dirty('state')" ng-click="reset('state')") Reset to Ballot Order
          %a.pull-right(ng-show="orderByGroup && dirty('group')" ng-click="reset('group')") Reset to Ballot Order

      .well.well-sm
        %select#ticketSelect.form-control.input-sm(ng-model="ticket" ng-change="reorderByTicket()" ng-options="ticket.id as ticket.name for ticket in ticketList")
          %option(value="") Start with an existing ticket...

      %table.table.table-condensed(ng-show="orderByGroup")
        %tbody(ui-sortable ng-model="orders.group")
          %tr(ng-repeat="c in orders.group")
            %td {{c.name }}
            %td
              %span(ng-repeat="p in c.parties" class="partycode party party-{{p}}")
                %a(href="{{parties[p].website}}" target="_blank")
                  {{ parties[p].code }}

      %table.table.table-condensed(ng-hide="orderByGroup")
        %tbody(ui-sortable ng-model="orders.state")
          %tr(ng-repeat="c in orders.state")
            %td {{c.group}}
            %td
              .pull-right
                %a.candidate-link(ng-show="c.website" href="{{c.website}}" target="_blank")
                  %span.glyphicon.glyphicon-link
                %a.candidate-link(ng-show="c.wikipedia" href="{{c.wikipedia}}" target="_blank")
                  %img(src="/images/wikipedia-w.png" alt="Wikipedia")
              {{c.first_name}} {{c.last_name}}
            %td
              %span(ng-show="parties[c.party]" class="partycode party party-{{c.party}}" title="{{parties[c.party].name}}")
                %a(href="{{parties[c.party].website}}" target="_blank")
                  {{ parties[c.party].name }}
              %span.partycode.party.party-ind(ng-hide="parties[c.party]" title="Independent")
                Independent
  #downloadModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal") &times;
          %h4.modal-title Generating Printable Ballot
        .modal-body
          %p Your ballot should download shortly in PDF format. On Windows you may need to install a PDF reading application such as <a href="http://get.adobe.com/reader/">Adobe Reader</a>.
        .modal-footer
          %button.btn.btn-primary(type="button" data-dismiss="modal") Close
  #saveModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          %button.close(type="button" data-dismiss="modal") &times;
          %h4.modal-title Save Ticket
        .modal-body
          %p Your ticket has been saved. You can access it at the URL below.
          %p.alert.alert-warning
            %strong Note:
            If you're editing a previously saved ticket the URL
            %strong< will be different
            \.
          .progress.progress-striped.active(ng-hide="saveURL")
            .progress-bar(style="width: 100%")
          %p(ng-show="saveURL")
            %input.form-control(type="text" value="{{saveURL}}")
          %p
            %small
              {{shareWarning}}
        .modal-footer
          %button.btn.btn-primary(type="button" data-dismiss="modal") Close

