!!! 5
%html(ng-app="belowtheline")
  %head
    %title
      - if title then
        #{title} — Below The Line
      - else
        Below The Line
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="/css/bootstrap.css")
    :javascript
      var _sf_startpt=(new Date()).getTime()
    %script(src="/js/jquery-1.10.2.min.js")
    %script(src="/js/bootstrap.js")
    %script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs-mYug2pkaA-styj1mS6guOI012AYeXY&sensor=false")
    %script(src="/js/app.js")
    :css
      .start { padding-bottom: 20px; }
      .logo { width: 40px; height: 40px; padding-right: 5px; }
      .geolocation-only { display: none; }
      .partycode { border: 1px solid; padding: 2px; font-size: 80%; }
      .party > a { color: inherit; }
      .party { padding: 2px; color: #48484c; background-color: #f7f7f9; border-color: #e1e1e8; }
      .party-alp { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
      .party-grn { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
      .party-lib { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
      .party-lnp { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
      .party-nat { color: #c09853; background-color: #fcf8e3; border-color: #fbeed5; }
      .content-box { border: 1px solid #e1e1e8; border-radius: 4px; margin-bottom: 10px; padding: 10px; }
      .hero-unit { padding: 20px; }
      #footer { margin-bottom: 10px; padding-bottom: 10px; }
      .navbar { margin-bottom: 20px; }
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand(href="/")
            %img.logo(src="/images/belowtheline.png")
            Below The Line
    .container
      = body
      .row
        .span12
          .well#footer
            .pull-right
              %form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                %input(type="hidden" name="cmd" value="_s-xclick")
                %input(type="hidden" name="hosted_button_id" value="ZXQHV6SD4DP3W")
                %input(type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.")
                %img(alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1")
            %p.muted.credit Find out more about the site at <a href="http://github.com/belowtheline/site">GitHub</a>. Hosting generously provided by <a href="http://rackspace.com/">Rackspace</a>.
            %p.muted.credit Incorporates data that is &copy; Commonwealth of Australia (Australian Electoral Commission) 2013.
    :javascript
      var _sf_async_config = { uid: 50016, domain: 'belowtheline.org.au', useCanonical: true };
        (function() {
          function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
          };
          var oldonload = window.onload;
          window.onload = (typeof window.onload != 'function') ?
            loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();

