.row
  .span6
    .hero-unit
      %h1.start Let's start!
      %form
        %div(ng-show="geolocationAvailable()")
          %h3 Use your current location
          %button.btn(ng-click="geolocate()")
            Click here!
          .alert.alert-error(ng-show="geolocationFailed()")
            %button.close(type="button" data-dismiss="alert" ng-click="dismissGeolocationError()") &times;
            Geolocation failed.
        %div
          %h3
            %span(ng-show="geolocationAvailable()") Or use
            %span(ng-hide="geolocationAvailable()") Use
            location search
          .input-append
            %input.span2(type="text" placeholder="Address..." ng-model="address")
            %button.btn(ng-click="searchByAddress()")
              Search
        %div
          %h3 Or select your division
          %select(ng-model="division" ng-options="d as d.name group by states[d.state.split('/')[1]].name for d in divisionsArray | orderBy:['state', 'name']" ng-change="selectDivision()")
            %option(value="") Division...

  .span6
    %h3 Tired of voting for the same parties?
    %p
      More parties than Labor, Liberal and National run in every election and we're not just talking about the Greens. There are other small parties and even independent candidates who might suit your vision of Australia more than the major parties.
    %h3 Will this waste my vote?
    %p
      Not at all! Australia's preferential voting system means that you must still indicate a preference for all the candidates running in your division. This means that if your preferred candidate isn't elected your vote will end up with your second preference and beyond. This way you can still direct your vote to a given major party ahead of the other.
#push
