!!! 5
%html(ng-app="belowtheline")
  %head
    %title Below The Line
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
    %script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    %script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
    %script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs-mYug2pkaA-styj1mS6guOI012AYeXY&sensor=false")
    %script(src="/js/app.js")
    :css
      html, body { height: 100%; }
      #push, #footer { height: 80px; }
      #footer { display: block; background-color: #f5f5f5; border-top: 1px solid #cccccc; line-height: 10px; }
      #wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px; }
      @media (max-width: 767px) {
        #footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
      }
      #wrap > .container { padding-top: 80px; }
      .container .credit { margin: 20px 0; }
      .start { padding-bottom: 20px; }
      .logo { width: 40px; height: 40px; padding-right: 5px; }
      .geolocation-only { display: none; }
      .partycode { border: 1px solid; padding: 2px; font-size: 80%; }
      .party { padding: 2px; color: #48484c; background-color: #f7f7f9; border-color: #e1e1e8; }
      .party-alp { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
      .party-grn { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
      .party-lib { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
      .party-lnp { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
      .party-nat { color: #c09853; background-color: #fcf8e3; border-color: #fbeed5; }
  %body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand(href="#")
              %img.logo(src="/images/belowtheline.png")
              Below The Line
      .container
        .row
          .offset3.span6
            .alert
              .text-center
                %strong This site is in development.
        = body
    #footer
      .container
        %p.muted.credit Find out more about the site at <a href="http://github.com/belowtheline/site">GitHub</a>. Hosting generously provided by <a href="http://rackspace.com/">Rackspace</a>.
        %p.muted.credit Incorporates data that is &copy; Commonwealth of Australia (Australian Electoral Commission) 2013.

